aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
colorama==0.4.6
curl_cffi==0.13.0
frozenlist==1.7.0
greenlet==3.2.3
idna==3.10
loguru==0.7.3
lxml==6.0.0
multidict==6.6.3
playwright==1.53.0
playwright-stealth==2.0.0
propcache==0.3.2
pycparser==2.22
pyee==13.0.0
pyjsparser==2.7.1
pyparsing==3.2.3
requests-toolbelt==1.0.0
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
win32_setctime==1.2.0
yarl==1.20.1
